@model tre.Models.VistasModel.UsuariosViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo</h2>
@using (Html.BeginForm("Nuevo","Usuarios",FormMethod.Post))
{
<table class="form-inline">
    <tr>
        <td>ID:</td>
        <td>@Html.TextBoxFor(d => d.id)</td>
    </tr>
    <tr>
        <td>Usuario:</td>
        <td>@Html.TextBoxFor(d => d.usuario)</td>
    </tr>
    <tr>
        <td>Clave:</td>
        <td>@Html.TextBoxFor(d => d.clave)</td>
    </tr>
    <tr coolspan="2">
        <td><input type="submit" name="name" value="Nuevo" /></td>
        
    </tr>
</table> 
}

